.mat-elevation-z8 {
  margin-top: 20px;
}
button {
  margin: 0 5px;
}
.hide {
  display: none;
}
mat-footer-row mat-footer-cell {
  justify-content: center;
  font-style: italic;
}
.search-field {
  width: 60%;
}
::ng-deep .warn {
  background-color: red !important;
}
.mat-snack-bar-container {
  color: rgba(255, 255, 255, 0.7);
  background-color: red !important;
}
